**/.DS_Store
tomcat/bin/*.pid
tomcat/logs/*.log
tomcat/logs/*.out
tomcat/logs/*.txt
tomcat/work/Catalina/localhost/*
tomcat/work/Catalina/localhost/**/*
tomcat/conf/Catalina/localhost/solr.xml
tomcat/temphsperfdata_pivotal/*
tomcat/temp
